img.avatar.avatar-inline.w30 {
    width: 30px;
    height: 30px;
}
img.avatar.avatar-inline.w30.red {
    border-color: red;
    border-width: 2px;
}
span.avatar.avatar-inline.avatar-placeholder {
    width: 30px;
    height: 30px;
    margin-top: 6px;
}

img.avatar.avatar-inline.w30.green {
    border-color: forestgreen;
    border-width: 2px;
}

.avatar-award-emoji {
    position: relative;
    display: inline;
    top: 10px;
    left: auto;
    right: 22px;
}

.no-api-key-warning {
    line-height: 10px;
    flex-direction: row-reverse;
    display: flex;
    flex-grow: 1;
}

.no-api-key-warning__icon {
    width: 16px;
    height: 16px;
    fill: darkorange;
}